body
{
}
.textbox
{
    background-color: Purple;
}
.button
{
    border-radius: 8px;
    background-color: #ccccff;
    color: Black;
    font-size: 15px;
    border: none;
}
a
{
    font-size:30px;
}

